body {
    background-color: #333;
    color: #d2b383;
    font-family: 'Karla', sans-serif;
    text-align: center;
}

.lightertext {
    color: #eee;
}

.yellow {
    color: #ffa517;
}

.red {
    color: #f31010;
}

a {
    color: #40abef;
}

h1 {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
}

table {
    border-collapse: collapse;
}

.myworker {
    background-color: #484848;
}

.myworker a {
    color: #ddd;
}

td {
    padding: 4px 16px;
}

.table-nopad td {
    padding: 2px;
}

th {
    padding: 3px 15px;
}

em {
    color: #f31010;
    font-weight: normal;
    font-style: normal;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #40abef;
    text-decoration: none;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 15px;
    border-radius: 6px;

    font-weight: normal;
    font-style: normal;
    font-size: 14px;

    position: fixed;
    top: 0;
    z-index: 1;
}

div {
    position: relative;
    padding: 10px;
}

.contentdiv {
    width: 1000px;
    margin: 0px auto;
}

.toplevel {
    position: fixed;
    overflow-y: hidden;
    background-color: #333;
    margin: 0px;
    padding: 0px;
    left: 0;
    width: 100%;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
}

#overlay-box {
    background-color: #333;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

#overlay-box h1 {
    color: #ffa517;
}

#banner {
    top: 0;
    height: 150px;
}

#banner h1 {
    margin: 0px;
    padding: 0px;
    font-size: 1.5em;
    font-style: italic;
}

#banner p {
    margin: 0px;
    padding: 0px;
}

#menu {
    top: 150px;
    height: 65px;
}

#menu table {
    border: none;
    border-collapse: collapse;
    margin: 0px auto;
    padding: 0px;
    width: 68%;
}

#menu tr {
    padding: 0px 10px;
}

#menu table td {
    border-left: 2px #eee solid;
    border-right: 2px #eee solid;
    height: 30px;
    margin: 0px;
    text-align: center;
    width: 100px;
    cursor: pointer;

    color: #ffa517;
    font-style: normal;
    font-weight: bold;
}

#menu table .selected {
    color: #f31010;
    font-style: italic;
}

#content {
    top: 220px;
    bottom: 60px;
    overflow-y: auto;
}

#footer {
    bottom: 0;
    height: 60px;
    text-align: center;
}

#footer table {
    background-color: #333;
    border-collapse: collapse;
    border: none;
    margin: 0px auto;
    padding: 0px;
}

#footer tr {
    padding: 0px 10px;
}

#footer table td {
    border: 2px #888 solid;
    height: 60px;
    margin: 0px;
    text-align: center;
    width: 320px;
}

#footer .monocolored {
    font-family: 'Space Mono', monospace;
    color: #ffa517;
    font-style: normal;
    font-weight: normal;
    padding: 2px 10px;
}

.wrapper {
    display: inline-block;
}

.table-header {
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
}

.table-smallheader {
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    text-align: left;
    color: #ffa517;
}

.table-colheader th {
    color: #f31010;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    text-align: left;
}

.table-rowheader {
    font-weight: bold;
    font-style: italic;
    text-align: left;
}

th {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}


.mono {
    font-family: 'Space Mono', monospace;
}

.monocolored {
    font-family: 'Space Mono', monospace;
    color: #ffa517;
    font-style: normal;
}

.monocolored-small {
    font-family: 'Space Mono', monospace;
    color: #ffa517;
    font-style: normal;
    font-size: 11.5px;
}

.date {
    font-family: 'Space Mono', monospace;
    color: #f31010;
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
}

.na {
    font-family: 'Karla', sans-serif;
    color: #f31010;
    font-weight: bold;
    font-style: italic;
}

.smallheading {
    color: #ffa517;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}

.smallerheading {
    color: #f31010;
    font-style: italic;
    font-size: 16px;
}

#status {
    color: #ffa517;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}

.currentblock {
    font-family: 'Space Mono', monospace;
    color: #ffa517;
    font-style: normal;
    font-weight: normal;
    padding: 2px 20px;
}

.hashrate {
    font-family: 'Space Mono', monospace;
    color: #f31010;
    font-style: normal;
    font-weight: normal;
    padding: 2px 20px;
}

.stratumurl {
    font-family: 'Space Mono', monospace;
    color: #ffa517;
    font-style: normal;
    font-weight: normal;
}

.cbouttx {
    font-family: 'Space Mono', monospace;
    color: #ffa517;
}

.workerentry {
    font-family: 'Space Mono', monospace;
    color: #ffa517;
}

.worker-solved {
    text-align: center;
}

.worker-solved a {
    color: #ffa517;
}

.blkheight {
    font-family: 'Space Mono', monospace;
    color: #ffa517;
}

.blkheight-blk a {
    color: #ffa517;
}

.blkheight-status {
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.blkheight-check {
    color: #484848;
}

.blkheight-confirmed {
    color: #069c12;
}

.blkheight-pending {
    color: #a8a8a8;
}

.blkheight-orphaned {
    color: #9e1f1f;
}

