body {
    background-color: #333;
    color: #d2b383;
    font-family: 'Karla', sans-serif;
    text-align: center;
}

a {
    color: #40abef;
}

h1 {
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
}

td {
    padding: 3px 15px;
}

.table-nopad td {
    padding: 2px;
}

th {
    padding: 3px 15px;
}

em {
    color: #f31010;
    font-weight: normal;
    font-style: normal;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #40abef;
    text-decoration: none;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 15px;
    border-radius: 6px;

    font-weight: normal;
    font-style: normal;
    font-size: 14px;

    position: absolute;
    z-index: 1;
}

div {
    padding-top: 15px;
    padding-bottom: 15px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
}

#overlay-box {
    background-color: #333;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

#overlay-box h1 {
    color: #ffa517;
}

.table-header {
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
}

.table-colheader th {
    color: #f31010;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    text-align: left;
}

th {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}


.mono {
    font-family: 'Space Mono', monospace;
}

.smallheading {
    color: #ffa517;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}

#currentblock {
    font-family: 'Space Mono', monospace;
    color: #ffa517;
    font-style: normal;
    font-weight: normal;
    padding: 2px 20px;
}

.hashrate {
    font-family: 'Space Mono', monospace;
    color: #f31010;
    font-style: normal;
    font-weight: normal;
    padding: 2px 20px;
}

.stratumurl {
    font-family: 'Space Mono', monospace;
    color: #ffa517;
    font-style: normal;
    font-weight: normal;
}

.cbouttx {
    font-family: 'Space Mono', monospace;
    color: #ffa517;
}

.blkheight {
    font-family: 'Space Mono', monospace;
    color: #ffa517;
}

