body {
    background-color: $mono;
    color: $text;
    font-family: $font-sans;
    line-height: 1.4;
    margin: 0;
}

a {
    color: $accent;
}

a[target="_blank"] {
    // Nothing to do with IE, but it's an easy way to convert to a hex string.
    $svg-fill: str-slice(ie_hex_str($mono), 4);
    $svg-stroke: str-slice(ie_hex_str($accent), 4);
    background: {
        image: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2212%22%20height=%2212%22%3E%20%3Cpath%20fill=%22%23#{$svg-fill}%22%20stroke=%22%23#{$svg-stroke}%22%20d=%22M1.5%204.518h5.982V10.5H1.5z%22/%3E%20%3Cpath%20fill=%22%23#{$svg-stroke}%22%20d=%22M5.765%201H11v5.39L9.427%207.937l-1.31-1.31L5.393%209.35l-2.69-2.688%202.81-2.808L4.2%202.544z%22/%3E%20%3Cpath%20fill=%22%23#{$svg-fill}%22%20d=%22M9.995%202.004l.022%204.885L8.2%205.07%205.32%207.95%204.09%206.723l2.882-2.88-1.85-1.852z%22/%3E%20%3C/svg%3E");
        position: right center;
        repeat: no-repeat;
    }
    padding-right: 13px;
}

p,
ul,
ol {
    margin: 0 0 2em;
}

ul {
    padding-left: 3em;
}

table {
    border-collapse: collapse;
    font-size: 1rem;
    font-variant-numeric: lining-nums tabular-nums;
    margin: 0 auto 2em;
}

th,
td {
    border: {
        color: $border-light;
        style: solid;
        width: 1px 0;
    }
    padding: .75em 1.25em;
    text-align: left;
}

thead th {
    border-bottom: 3px solid $border;
    border-top-width: 0;
    color: $primary;
    font-weight: bold;
}

tbody th {
    color: $text;
    font-weight: bold;
    vertical-align: top;
}

table .numeric {
    text-align: right;
}

code {
    display: block;
    font-family: $font-mono;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 2em;
    white-space: pre-wrap;
}

code strong {
    color: $white;
    font-weight: inherit;
}

p code {
    display: inline;
}

.muted {
    color: $muted;
}

.na::before {
    color: $muted;
    content: "N/A";
    font-style: italic;
}
