// @font-face {
//     font-family: 'TeX Gyre Schola';
//     src: url('../fonts/texgyreschola-regular.otf') format('opentype');
// }

@font-face {
    font-family: 'TeX Gyre Schola';
    font-style: italic;
    src: url('../fonts/texgyreschola-italic.otf') format('opentype');
}

// @font-face {
//     font-family: 'TeX Gyre Schola';
//     font-weight: bold;
//     src: url('../fonts/texgyreschola-bold.otf') format('opentype');
// }

// @font-face {
//     font-family: 'TeX Gyre Schola';
//     font-style: italic;
//     font-weight: bold;
//     src: url('../fonts/texgyreschola-bolditalic.otf') format('opentype');
// }
