#footer {
    background: $mono;
    border: {
        color: $border;
        style: solid;
        width: 4px 0 0;
    }
    bottom: 0;
    left: 50%;
    margin: 0 auto;
    max-width: 1200px;
    position: fixed;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
}

#footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer li {
    color: $text;
    display: block;
    font-size: 1.25em;
    padding: 0.5em;
    text-decoration: none;
    white-space: nowrap;
}

#footer .label {
    color: $muted;
}

#footer .value {
    font-weight: bold;
}
