$primary: hsl(37, 100%, 55%);
$secondary: hsl(5, 90%, 45%);
$accent: hsla(201, 85%, 60%, 0.87);

$mono: hsl(37, 5%, 20%);
$white: #fff;

$text: hsla(37, 100%, 85%, 0.87);
$muted: hsla(37, 100%, 85%, 0.5);
$border: hsla(37, 100%, 85%, 0.25);
$border-light: hsla(37, 100%, 85%, 0.125);
